html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.account-content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.welcome-message-container {
    border-bottom: 2px solid #6A96E1;
    /* background-color: lightgrey; */
    padding: 5vh 0vw 0vh 0vw;
}

.welcome-message {
    font-size: 42px;
    margin: 0vh 0vw 0vh 0vw;
}

.detail-container {
    margin: 4vh 0vw 0vh 0vw;
}

.current-user-details-container {
    margin: 0vh 0vw 0vh 0vw;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}

.current-user-details {
    width: fit-content;
}

.current-user-details-title {
    font-size: 32px;
    margin: 0vh 0vw 0vh 0vw;
    border-bottom: 2px solid #6A96E1;
    width: fit-content;
}

.update-user-details-container {
    margin: 0vh 0vw 0vh 0vw;
    width: 40%;
    display: inline-block;
}

.update-user-details-title {
    font-size: 32px;
    margin: 0vh 0vw 0vh 0vw;
    border-bottom: 2px solid #6A96E1;
    width: fit-content;
}

.update-user-detail-form {
    margin-top: 1em;
}

.update-email-container {
    margin-top: 1em;
    width: fit-content;
}

.update-username-container {
    width: fit-content;
}

label {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

.account-button {
    background-color: #3B69B7;
    border: none;
    color: #ffffff;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2vh 0vw 2vh 0vw;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
}

.account-button:hover {
    background-color: #6A96E1;
}

.delete-user-container {
    margin: 0vh 0vw 0vh 0vw;
    width: 40%;
    display: inline-block;
}

.delete-user-title {
    font-size: 32px;
    margin: 0vh 0vw 0vh 0vw;
    border-bottom: 2px solid #6A96E1;
    width: fit-content;
}

.delete-user-form {
    margin-top: 1em;
}

.delete-account-text {
    margin-top: 1em;
    font-size: 18px;
}
