@import url(/static/css/import.css);

.account-content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.welcome-message-container {
    border-bottom: 2px solid var(--light-blue);
    /* background-color: lightgrey; */
    padding: 5vh 0vw 0vh 0vw;
}

.welcome-message {
    font-size: 42px;
    margin: 0vh 0vw 0vh 0vw;
}

.detail-container {
    margin: 4vh 0vw 0vh 0vw;
}

.current-user-details-container {
    margin: 0vh 0vw 0vh 0vw;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}

.current-user-details {
    width: fit-content;
}

.current-user-details-title {
    font-size: 32px;
    margin: 0vh 0vw 0vh 0vw;
    border-bottom: 2px solid var(--light-blue);
    width: fit-content;
}

.update-user-details-container {
    margin: 0;
    width: 40%;
    display: inline-block;
}

.update-user-details-title {
    font-size: 32px;
    margin: 0vh 0vw 0vh 0vw;
    border-bottom: 2px solid var(--light-blue);
    width: fit-content;
}

.update-user-detail-form {
    margin-top: 1em;
}

.update-username-container {
    width: fit-content;
}

.update-email-container {
    /* margin-top: 1em; */
    width: fit-content;
}

.update-dob-container {
    margin-top: 1em;
}

input[type="date"] {
    cursor: pointer;
}

label {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}

.account-button {
    background-color: #3B69B7;
    border: none;
    color: var(--white);
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em 0vw;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
}

.account-button:hover {
    background-color: var(--light-blue);
}

.delete-user-container {
    margin: 0;
    width: 40%;
    display: inline-block;
}

.delete-user-title {
    font-size: 32px;
    margin: 0 ;
    border-bottom: 2px solid var(--light-blue);
    width: fit-content;
}

.delete-user-form {
    margin-top: 1em;
}

.delete-account-text {
    margin-top: 1em;
    font-size: 18px;
}

.accordion {
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    padding: 1em;
    margin-top: 1em;
    width: 75%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: var(--light-blue);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: var(--white);
    overflow: hidden;
}