@import url("/static/css/import.css");

main {
    width: 60%;
    margin: 0 auto;
    background-color: var(--light-blue);
    height: fit-content;
    color: var(--white);
}

.diary-entry {
    background-color: var(--light-blue);
}