@import url("/static/css/import.css");

main {
    width: 60%;
    margin: 0 auto;
    height: fit-content;
    color: var(--white);
}

.search-bar {
    width: 100%;
    display: block;
}

form.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

input[type="text"] {
    width: 73%;
    background-color: var(--white);
    border: 2px solid var(--light-blue);
    border-radius: 4px;
    font-size: 0.9em;
    cursor: text;
}

input[type="text"]:focus-visible {
    outline: var(--white);
}

input[type="submit"] {
    width: 25%;
    background-color: var(--white);
    border: 2px solid var(--light-blue);
    color: var(--light-blue);
    padding: 7px 10px;
    text-decoration: none;
    font-size: 0.9em;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: var(--white);
    background-color: var(--light-blue);
}

.search-date {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.date-inputs {
    width: 73.7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
}

.date-inputs > input[type="date"] {
    width: 48.5%;
    background-color: var(--white);
    border: 2px solid var(--light-blue);
    border-radius: 4px;
    font-size: 0.9em;
    cursor: text;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
}

.diary-action-container {
    display: none;
}

.diary-action-container > a > svg {
    color: var(--white);
    padding-left: 0.5em;
}

.diary-action-container > a > svg:hover {
    color: var(--dark-blue);
}
