@import url("/static/css/import.css");

main {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    color: var(--gray);
}

.welcome-message {
    font-size: 2.5em;
    display: block;
    width: auto;
}

.welcome-message p {
    margin-block-end: 0;
    margin-block-start: 0;
}

.your-day {
    display: block;
    width: 100%;
}

.your-day-answers {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

.your-day-answers > svg {
    padding: 0 0.5em;
    color: var(--light-blue);
}

.your-day-answers > svg:hover {
    padding: 0 0.5em;
    color: var(--dark-blue);
}
