/* Global Styling */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* Main Content Styling */

.main-content {
    width: 100vw;
    text-align: center;
}

.welcome-message {
    color: #333333;
    font-size: 5vh;

    display: block;
    margin: 10% auto 8% auto;
    width: auto;
}

.main-buttons {
    width: 40%;
    margin: 0 auto 0 auto;
}

.flex-grid {
    display: flex;
}

.col {
    padding-top: 0vh;
    flex: 1;
}
