html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.main-content {
    width: 100vw;
    text-align: center;
}

.welcome-message {
    color: #333333;
    font-size: 5vh;

    display: block;
    margin: 10% auto 10% auto;
    width: auto;
}