body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-image: url("/static/images/background/diego-aguilar-OLc6qPfizeA-unsplash.jpg");
}

.main-content {
    width: 100vw;
    height: auto;
    left: auto;
    right: auto;
    padding-top: 20vh;
}

.main-content-h1 {
    text-align: center;
    color: #ffffff;
    text-transform: lowercase;
}
  
  