@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

html {
    background-image: url("/static/images/background/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.title {
    width: 100vw;
    height: auto;
    left: auto;
    right: auto;
    margin-top: 15vh;
}

.title-container {
    /* background-color: #6A96E1; */
    background-color: rgba(106,150,225, 0.5);
    /* opacity: 0.5; */
    width: auto;
    padding: 4vh 0vw;
    margin: 0vh 36vw;
    border-radius: 24px;
}

.title-h1 {
    text-align: center;
}

.account-buttons {
    margin: 0vh 0vw;
    padding: 0vh 0vw;
    width: auto;
}

.account-button {
    /* margin: 0% 0% 0% 15%; */
    margin-left: 11%;
    padding: 4% 4%;
    font-size: 16px;
    width: 33.3%;

    color: #ffffff;
    background-color: transparent;
    border: 2px solid #6A96E1;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.account-button:hover {
    background-color: #6A96E1;
    color: white;
    border-radius: 15px;
}
  
  