@import url("/static/css/import.css");

body {
    margin: 0;
    background-image: url("/static/images/background/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    color: var(--white);
    font-family: Gotham;
}

/* Title Section Styles */

section.title {
    width: 100%;
    display: block;
    padding-top: 20vh;
}

.title-logo {
    width: 100%;
    text-align: center;
}

.title-text {
    width: 100%;
    text-align: center;
}

.title-text h1 {
    font-size: 2rem;
}

.title-text h2 {
    font-weight: 300;
}

/* Account Buttons Section Styles */

section.account-buttons {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 2%;
}

.account-buttons-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.account-buttons-container a {
    width: fit-content;
    min-width: 30%;
    background-color: var(--light-blue);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding: 1em 2em;
}

.account-buttons-container a {
    background: #ECEFF1;
    color: #37474f;
    border-radius: 5px;
}

.account-buttons-container a:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    bottom: -15px;
    right: -15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    padding: 15px 25px;
    z-index: -1;
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}

.account-buttons-container a:hover {
    color: #ECEFF1;
    background-color: #7986cb;
}

.account-buttons-container a:hover::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
}

.account-buttons-container a:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #ECEFF1;
    background-color: var(--light-blue);
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
}

/* Learn More Section Styles */

.learn-more {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.learn-more-link {
    color: var(--white);
    text-decoration: none;
}

/* Pop up form styling */

.loginPopup {
    position: relative;
    width: 100%;
    font-family: Gotham;
    font-weight: 300;
}

.formPopup {
    display: none;
    position: fixed;
    width: 50%;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    z-index: 9;

}

.formPopup p {
    color: var(--white);
    padding-bottom: 3px;
}

.formContainer {
    padding: 20px 85px;
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 5px;
}