@import 'colors.css';
.navbar {
    background-color: var(--light-blue);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.navbar-logo {
    width: fit-content;
}

.navbar-links {

}

.navbar-links-mobile {
    display: none;
}

.navbar-links a {
    color: var(--white);
    text-decoration: none;
}