.top-navigation {
    overflow: hidden;
    background-color: #6A96E1;
}

.logo-container {
    display: block;
    float: left;
    padding: 15px 5px 15px 25px;
}

.top-navigation .navigation-button {
    float: right;
    display: block;
    text-align: center;
    padding: 15px 20px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}

.top-navigation .navigation-button:hover {
    background-color: #9FBFF5;
    color: #ffffff;
    font-weight: 550;
    border-radius: 25px;
}
