@import 'import.css';

.navbar {
    background-color: var(--light-blue);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.navbar-logo {
    width: 20%;
    padding-left: 1%;
}

.navbar-links {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-links-mobile {
    display: none;
}

.navbar-links a {
    width: fit-content;
    color: var(--white);
    text-decoration: none;
    padding-right: 2%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--light-blue);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: var(--white);
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 1200px) {

    .navbar-links {
        display: none;
    }

    .navbar-links-mobile {
        display: inline-block;
        padding-right: 1em;
        color: var(--white);
    }

}