#backToTop {
    display: none;
    width: 5%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--light-blue);
    cursor: default;
    border-radius: 4px;
}

#backToTop svg:hover {
    color: var(--dark-blue);
    cursor: pointer !important;
}

@media screen and (max-width: 1200px) {
    #backToTop { 
        display: none !important;
    }
}